/*@keyframes rotate {
  0% {
    transform: rotateY(0deg) skewX(-10deg) skewY(-30deg);
  }
  50% {
    transform: rotateY(180deg) skewX(-10deg) skewY(-30deg);
  }
  100% {
    transform: rotateY(360deg) skewX(-10deg) skewY(-30deg);
  }
}*/
/*^^ IF I CHOOSE TO HAVE INFINITE ROTATING STRIPE ANIMATIONS*/

@keyframes rotate {
  0% {
    transform: rotateY(180deg) skewX(-10deg) skewY(-30deg);
  }
  100% {
    transform: rotateY(360deg) skewX(-10deg) skewY(-30deg);
  }
}

@keyframes CharRotate {
  0% {
    transform: rotateY(0deg);
    margin: 0 0px 0 -5px;
  }
  100% {
    transform: rotateY(180deg);
    margin: 0 20px 0 -25px;
  }
}

body {
  background-color: lightblue;
}

@keyframes expand {
  0% {
    /*letter-spacing: normal;*/
    opacity: 0;
  }
  100% {
    /*letter-spacing: 20px;*/
    opacity: 1;
  }
}

div.image {
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: #2391ff;
  width: 200px;
  height: 400px;
  margin: -200px 0px 0px -100px;
}

.flex-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 50%;
  left: 50%;
  width: 200px;
  height: 300px;
  margin: -150px 0px 0px -100px;
}

.stripe {
  height: 50px;
  width: 220px;
  margin: 5px 0;
  border: 1px solid black;
  animation-name: rotate;
  animation-duration: 6s;
  transform: skewX(-10deg) skewY(-30deg);
  animation-timing-function: linear;
}

#red {
  border-color: red;
}

#blue {
  border-color: blue;
}

#yellow {
  border-color: yellow;
}

.title {
  position: absolute;
  display: flex;
  justify-content: center;
  font-family: "Commissioner", sans-serif;
  font-size: 30px;
  font-weight: 282;
  top: 75%;
  left: 50%;
  text-transform: uppercase;
  margin: 10px 0 0 -100px;
  animation: expand 6s ease-out forwards 1;
  letter-spacing: 20px;
}

.title > span {
  animation: CharRotate 6s linear forwards 1;
  display: flex;
  justify-content: center;
  margin: 0 20px 0 -25px;
  padding: 0 0 0 0;
}
